<%= @seasonal_price.errors.any? %>
<% if @seasonal_price.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @seasonal_price.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>
  </ul>
<% end %>